# Assessing
Use the space below to explore `all_alpha_08.csv` and `all_alpha_18.csv` to answer the quiz questions below.

In [2]:
import pandas as pd

df_08 = pd.read_csv('all_alpha_08.csv')
df_18 = pd.read_csv('all_alpha_18.csv')

In [ ]:
df_08.info()
df_08.duplicated().sum()
df_08.isnull().sum()
print('City MPG 08 Type is {}'.format(type(df_08['City MPG'][0])))
print('Cyl 08 Type is {}'.format(type(df_08['Cyl'][0])))
print('Greenhouse Gas Score 08 Type is {}'.format(type(df_08['Greenhouse Gas Score'][0])))
print(df_08['SmartWay'].nunique())
print('Sales Area 08 unique {}'.format(df_08['Sales Area'].nunique()))
print('Trans 08 unique {}'.format(df_08['Trans'].nunique()))
print('Gasoline in Fuel Categories of 2008 {}'.format('Gasoline' in df_08['Fuel']))
print('Ethanol/Gas in Fuel Categories of 2008 {}'.format('Ethanol/Gas' in df_08))

In [29]:
df_18.info()
df_18.duplicated().sum()
df_18.isnull().sum()
print('City MPG 18 Type is {}'.format(type(df_18['City MPG'][0])))
print('Cyl 18 Type is {}'.format(type(df_18['Cyl'][0])))
print(df_18['SmartWay'].nunique())
print('Cert Region 18 unique {}'.format(df_18['Cert Region'].nunique()))
print('Gasoline in Fuel Categories of 2018 {}'.format('Gasoline' in df_18['Fuel']))
print('Ethanol/Gas in Fuel Categories of 2018 {}'.format('Ethanol/Gas' in df_18['Fuel']))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
Model                   1611 non-null object
Displ                   1609 non-null float64
Cyl                     1609 non-null float64
Trans                   1611 non-null object
Drive                   1611 non-null object
Fuel                    1611 non-null object
Cert Region             1611 non-null object
Stnd                    1611 non-null object
Stnd Description        1611 non-null object
Underhood ID            1611 non-null object
Veh Class               1611 non-null object
Air Pollution Score     1611 non-null int64
City MPG                1611 non-null object
Hwy MPG                 1611 non-null object
Cmb MPG                 1611 non-null object
Greenhouse Gas Score    1611 non-null int64
SmartWay                1611 non-null object
Comb CO2                1611 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.6+ KB
City MPG 18 Type is <class 'str'>
Cyl 18 Type is <class 'numpy.float64'>
3
Cert Region 18 unique 2
Gasoline in Fuel Categories of 2018 False
Ethanol/Gas in Fuel Categories of 2018 False